.container{
    text-align: center;

}
.calculator{
    text-align: center;
    display: inline-block;
    margin: auto;
    background-color:aqua;
    border: 5px solid rgb(22 49 94);
    border-radius: 50px;
    padding: 22px;
}
table{
    text-align: center;
    align-items: center;
    margin: auto;
}
.button{
    padding: 12px;
    margin: auto;
    width: 108px;
    height: 64px;
    border: 5px solid black;
    border-radius: 45px;
    font-size: 34px;
    box-shadow: 0 9px gray;
    outline: none;
}
.input{
    padding: 5px;
    border: 5px solid black;
    border-radius: 24px;
    width: 420px;
    height: 43px;
    font-size: 53px;
    margin: 12px;
}
h1{
    font-size: 40px;
}
.button:hover{
    background-color: rgb(126, 223, 107);
    color: aliceblue;
}
.button:active{
    box-shadow: 0 3px gray;
    transform: translatey(4px);
}
hr{
    width: 120px;
    /* height: 3px; */
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.889);
    padding: 2px;
    margin-top: 20px;
}